 
<div class="form-card-container">
   <form  (ngSubmit)="submitForm()">
    
          <div class="form-container">
            <label for="email">Email</label>
              <input
                type="text"
                placeholder="Email"
                formControlName="email"
                required
              />
         
            <label for="password">Password</label>
              <input
                type="password"
                placeholder="Password"
                formControlName="password"
              />
           
            <button class="login-btn" 
            type="submit">Login</button>

            <p class="reset">Forget password? <span class="text-reset">Reset</span></p>

          </div>

    </form>
   </div>